*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: rgb(198, 223, 240);
}
h1{
    font-size: 5rem;
}
button{
    padding: 1rem 2rem;
    border-radius: 30%;
    background-color: rgb(8, 8, 8);
    color: white;
    font-size: 2rem;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid grey;
    height: 72px;
    font-size: 2rem;
    background-color: rgb(241, 240, 142);
}